manifest {
  mainScript = 'HCV_cleaning_human.nf'
  description = 'pipeline for cleaning reads from human reads'
} 

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /pasteur --home $HOME:/home/$USER"
    cacheDir = "/pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/"
}


executor {
    name = 'slurm'
    queueSize = 400
}

process{
	shell = ['/bin/bash', '-ueo','pipefail' ]
	executor ='slurm'
	queue= 'bioevo'
	cpus = 4
	clusterOptions = '--qos bioevo'
    
    withName : clc_assembly {
        queue = 'clcbio'
        cpus = 4
        clusterOptions = '--qos clcbio --mem-per-cpu 10000'
    }

    withName : clc_info_final {
        queue = 'clcbio'
        cpus = 4
        clusterOptions = '--qos clcbio --mem-per-cpu 10000'
    }

}

