manifest {
  mainScript = 'HCV_denovo_assembly.nf'
  description = 'De novo assembly and diamond blast'
} 

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /pasteur --home $HOME:/home/$USER"
    //runOptions = "--home $HOME:/home/$USER"
    cacheDir = "/pasteur/homes/mamorel/.Singularity_NF/"
}

executor {
    name = 'slurm'
    queueSize = 400
}

process{
	shell = ['/bin/bash', '-ueo','pipefail' ]
	executor ='slurm'
	queue= 'common'
	cpus = 4
	clusterOptions = '--qos normal'
    
    withName : denovo_assembly {
        queue = "common"
        cpus = 4
        clusterOptions = '--qos normal --mem-per-cpu 8000 '
    }

}