manifest {
  mainScript = 'quality_check.nf'
  description = 'pipeline for checking quality of HCV paired samples'
} 

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /pasteur --home $HOME:/home/$USER"
    //runOptions = "--home $HOME:/home/$USER"
    cacheDir = "/pasteur/homes/mamorel/.Singularity_NF/"
}

executor {
    name = 'slurm'
    queueSize = 100
}

process{
	shell = ['/bin/bash', '-ueo','pipefail' ]
	executor ='slurm'
	queue= 'bioevo'
	cpus = 4
	clusterOptions = '--qos bioevo --mem-per-cpu 10000'
	
}